html, body, #root{
  width: 100%;
  height: 100%;
  text-align: center;
  justify-content:center ;
  overflow: hidden;
}

.main_div{
  width: 96%;
  height: 92%;
  padding: 30px;
  background-color:#566573;
}
.first_div{
  height: 97%;
  background-color: #EAECEE ;
  padding: 25px;
}

.first_div h3{
  font-size: 30px;
  font-weight: 600;
}

.inner_div{
   width: 98%;
    height: 65%;
    padding: 5px;
    border: 2px solid;
    background-color: white;
}

.inner_div p{
  /* width: 500ch; */
  padding: 20px;
}

.para{
  width: 95%;
  height: 95%;
  margin-top: 1%;
  padding: 0;
  font-size: medium;
  max-width: 95%;
  max-height: 95%;
}

.first_div button{
  width: 40%;
  height: 7%;
  border-radius: 20px;
  border: none;
  margin-top: 5%;
  background-color: rgba(56, 126, 238, 0.971);
  font: 560;
  font-size: 18px;
}